<% title "Drax Collectibles Guide" %>
<div id="main">
	<div class="container drax">
		<section>
			<div class="character drax-top">Drax</div>
		</section>
		<section>
			<div class="profile-wrapper clearfix">
				<div class="char-info drax-color">
					<div class="char-wrapper clearfix">
						<div class="profile">
							<div class="cf">
								<img class="image-link bottom" src="../Images/DraxGreeting.gif" />
								<img class="image-link top" src="../Images/DraxBlock.jpg" />
							</div>
							<p class="quote">"You're an honorable man, Quill. I will fight beside you. And in the end, I will see my wife and daughter."</p>
						</div>
						<div class="bio">
							<div class="intro">
								<p>Drax comes from a unnamed race of primitives who are considered naive and hopelessly underdeveloped by the more advanced galactic groups. As a result, Drax is extremely unaware of basic concepts such as metaphors and customs. They are, however, a fierce and capable warrior race who follow a tribal-like culture. Fueled by pure rage after witnessing <a href="/">Ronan the Accuser</a> murder his wife <span class="bold">Hovat</span> and daughter <span class="bold">Kamaria</span>, Drax went on a bloody rampage across the galaxy in search of the murderous Kree to exact revenge for his family.</p>
							</div>
							<table>
								<tr>
									<td class="bold">Real Name</td>
									<td>Arthur Sampson Douglas</td>
								</tr>
								<tr>
									<td class="bold">Species</td>
									<td>Unknown</td>
								</tr>
								<tr>
									<td class="bold">Age</td>
									<td>Unknown</td>
								</tr>
								<tr>
									<td class="bold">Height</td>
									<td>6'4"</td>
								</tr>
								<tr>
									<td class="bold">Weight</td>
									<td>680 lbs.</td>
								</tr>
								<tr>
									<td class="bold">Affiliation</td>
									<td>Guardians of the Galaxy</td>
								</tr>
								<tr>
									<td class="bold">First Appearance (Comics)</td>
									<td>Iron Man #55 (1973)</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="char-wrapper clearfix">
						<div class="features">
							<p>About Drax</p>
						</div>
						<div class="trait-wrapper">
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/DraxHand.gif" />
									<img class="image-link top" src="../Images/DraxHand.jpg" />
									<p class="tc highlight">High Physical Prowess</p> 
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/DraxCombat.gif" />
									<img class="image-link top" src="../Images/DraxCombat.jpg" />
									<p class="tc highlight">Chosen Weapon: Knives</p>
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/DraxReflexes.gif" />
									<img class="image-link top" src="../Images/DraxReflexes.jpg" />
									<p class="tc highlight">Fast Reflexes</p>
								</div>
							</div>
							<div class="trait sb">
								<div class="cf">
									<img class="image-link bottom" src="../Images/DraxMadman.gif" />
									<img class="image-link top" src="../Images/DraxMadman.jpg" />
									<p class="tc highlight">Madman</p>
								</div>
							</div>
							<div class="trait sa">
								<div class="cf">
									<img class="image-link bottom" src="../Images/DraxSmile.gif" />
									<img class="image-link top" src="../Images/DraxSmile.jpg" />
									<p class="tc highlight">That Smile</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="title-wrapper clearfix">
				<div class="section-title">Drax's Collectible Guide</div>
			</div>
			<div class="items-wrapper clearfix $LEGO">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOLogo.png" alt="LEGO" />
						</div>
						<div class="brand-info">
							Everything is awesome... when it's LEGO! Recreate your favourite scenes from the movie with LEGO's colourful interlocking plastic bricks and gears. Also, let's not forget the LEGO minifigures which comes with each set. Get your very own Rocket Raccoon minifigure today! Comes in two different versions, one wearing the original orange suit and the other in the red Ravagers suit which is somewhat tight around the groin.
						</div>
					</div>
					<div class="bi">
						<div class="two-sq">
							<div class="two">
								<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021">
									<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/TheMilano.jpg" />
								</a>
								<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021">
									<p class="dbitem-name">The Milano Spaceship Rescue (76021)</p>
								</a>
							</div>
							<div class="two">
								<a href="http://www.collectib.ly/db_items/lego-drax-minifigure">
									<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGODraxminifigure.jpg" />
								</a>
								<a href="http://www.collectib.ly/db_items/lego-drax-minifigure">
									<p class="dbitem-name">Drax Minifigure</p>
								</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Funko">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoLogo.png" alt="Funko" />
						</div>
						<div class="brand-info">
							There’s a bobblehead for everyone and everything, from athletes and movies stars to popular musicians and comic book characters. For the bobblehead collectors, check out the item links below if you want to add Drax to your Bobblehead collection!
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-drax-bobble-head">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoDrax.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-drax-bobble-head">
								<p class="dbitem-name">Drax Bobble-head<br /><span class="sec">Funko POP! Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Hasbro">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLogo.png" alt="Hasbro" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to offer their line of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup. Each comes with a unique piece which you can assemble together for the special 7th figure - Groot! If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 fun toys in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-drax">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLegendsDrax.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-drax">
								<p class="dbitem-name">Drax<br/><span class="sec">Marvel Legends Infinite Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="related-wrapper clearfix">
				<section>
					<div class="related">Can't stand Drax not getting your jokes? Check out the other Guardians!</div>
					<div class="clearfix">
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Star-Lord</p>
							</a>
						</div>
							<div class="char">
								<a href="/">
									<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/RRSquare.jpg" />
								</a>
								<a href="/">
									<p class="char-name">Rocket</p>
								</a>
							</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GrootSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Groot</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GamoraSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Gamora</p>
							</a>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>