<% title "Gamora Collectibles Guide" %>
<div id="main">
	<div class="container ga">
		<section>
			<div class="character ga-top">Gamora</div>
		</section>
		<section>
			<div class="profile-wrapper clearfix">
				<div class="char-info ga-color">
					<div class="char-wrapper clearfix">
						<div class="profile">
							<div class="cf">
								<img class="image-link bottom" src="../Images/GamoraGreeting.gif" />
								<img class="image-link top" src="../Images/GamoraBlock.jpg" />
							</div>
							<p class="quote">"I am going to die surrounded by the biggest idiots in the galaxy."</p>
						</div>
						<div class="bio">
							<div class="intro">
								<p>When Gamora was very young, the interplanetary warlord <a href="/">Thanos</a> killed almost every member of her species, the Zehoberi. Thanos killed Gamora's parents in front of her, but spared her and raised her as his own child. Eventually he modified her body in an attempt to transform her into the ultimate weapon. Gamora trained under the tutelage of <a href="/">Ronan the Accuser</a> as a Galaxy-Class Killer alongside the Luphomoid known as <a href="/">Nebula</a>, whom Gamora considered as her sister.</p>
							</div>
							<table>
								<tr>
									<td class="bold">Real Name</td>
									<td>Gamora</td>
								</tr>
								<tr>
									<td class="bold">Species</td>
									<td>Zehoberi</td>
								</tr>
								<tr>
									<td class="bold">Age</td>
									<td>24</td>
								</tr>
								<tr>
									<td class="bold">Height</td>
									<td>6"</td>
								</tr>
								<tr>
									<td class="bold">Weight</td>
									<td>170 lbs.</td>
								</tr>
								<tr>
									<td class="bold">Affiliation</td>
									<td>Guardians of the Galaxy</td>
								</tr>
								<tr>
									<td class="bold">First Appearance (Comics)</td>
									<td>Strange Tales Vol.1 #180 (1975)</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="char-wrapper clearfix">
						<div class="features">
							<p>"Deadliest Woman in the Galaxy"</p>
						</div>
						<div class="trait-wrapper">
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GamoraUnarmed.gif" />
									<img class="image-link top" src="../Images/GamoraUnarmed.jpg" />
									 <p class="tc highlight">Unarmed Combat Expert</p> 
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GamoraSwordsman.gif" />
									<img class="image-link top" src="../Images/GamoraSwordsman.jpg" />
									<p class="tc highlight">Expert Swordsman</p>
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GamoraEnhanced.gif" />
									<img class="image-link top" src="../Images/GamoraEnhanced.jpg" />
									<p class="tc highlight">Enhanced Speed &amp; Agility</p>
								</div>
							</div>
							<div class="trait sb">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GamoraGodslayer.gif" />
									<img class="image-link top" src="../Images/GamoraGodslayer.jpg" />
									<p class="tc highlight">Weapon: Godslayer</p>
								</div>
							</div>
							<div class="trait sa">
								<div class="cf">
									<img class="image-link bottom" src="../Images/ThanosThrone.gif" />
									<img class="image-link top" src="../Images/ThanosThrone.jpg" />
									<p class="tc highlight">Daughter of Thanos</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="title-wrapper clearfix">
				<div class="section-title">Gamora's Collectible Guide</div>
			</div>
			<div class="items-wrapper clearfix $hottoys">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysLogo.png" alt="Hot Toys" />
						</div>
						<div class="brand-info">
							Hot Toys Limited is a Hong Kong-based production house for designing, developing, and manufacturing highly detailed collectible merchandise. The movie-accurate Gamora collectible figure is specially crafted based on the image of Zoe Saldana as Gamora in the movie, featuring the newly developed head sculpt, highly detailed costume, weapons and accessories. 
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms259-guardians-of-the-galaxy-gamora">
								<img class="image-link" src="../Images/HotToysGamora.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms259-guardians-of-the-galaxy-gamora">
								<p class="dbitem-name">1/6 Scale Gamora<br /><span class="sec">Movie Masterpiece Series #259</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $LEGO">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOLogo.png" alt="LEGO" />
						</div>
						<div class="brand-info">
							Everything is awesome... when it's LEGO! Recreate your favourite scenes from the movie with LEGO's colourful interlocking plastic bricks and gears. Also, let's not forget the LEGO minifigures which comes with each set. Get your very own Gamora minifigure today!
						</div>
					</div>
					<div class="two-sq">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/TheMilano.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021">
								<p class="dbitem-name">The Milano Spaceship Rescue (76021)</p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-gamora-minifigure">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOGamoraminifigure.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-gamora-minifigure">
								<p class="dbitem-name">Gamora Minifigure</p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Funko">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoLogo.png" alt="Funko" />
						</div>
						<div class="brand-info">
							There’s a bobblehead for everyone and everything, from athletes and movies stars to popular musicians and comic book characters. For the bobblehead collectors, check out the item links below if you want to add Gamora to your Bobblehead collection!
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-gamora-bobble-head">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoGamora.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-gamora-bobble-head">
								<p class="dbitem-name">Gamora Bobble-head<br /><span class="sec">Funko POP! Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Hasbro">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLogo.png" alt="Hasbro" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to offer their line of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup. Each comes with a unique piece which you can assemble together for the special 7th figure - Groot! If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 fun toys in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-gamora">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLegendsGamora.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-gamora">
								<p class="dbitem-name">Gamora<br/><span class="sec">Marvel Legends Infinite Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="related-wrapper clearfix">
				<section>
					<div class="related">Not a fan of the wise-cracking Star-Lord? Check out the other Guardians!</div>
					<div class="clearfix">
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Star-Lord</p>
							</a>
						</div>
							<div class="char">
								<a href="/">
									<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/RRSquare.jpg" />
								</a>
								<a href="/">
									<p class="char-name">Rocket</p>
								</a>
							</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GrootSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Groot</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DraxSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Drax</p>
							</a>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>