<% title "Groot Collectibles Guide" %>
<div id="main">
	<div class="container groot">
		<section>
			<div class="character groot-top">Groot</div>
		</section>
		<section>
			<div class="profile-wrapper clearfix">
				<div class="char-info groot-color">
					<div class="char-wrapper clearfix">
						<div class="profile">
							<div class="cf">
								<img class="image-link bottom" src="../Images/GrootGreeting.gif" />
								<img class="image-link top" src="../Images/GrootBlock.jpg" />
							</div>
							<p class="tc bold">"I Am Groot."</p>
						</div>
						<div class="bio">
							<div class="intro">
								<p>Groot is a hyper-intelligent tree-like organism from the species Flora colossus native to the planet X. While he possesses great human level intellect, Groot's robust and heavyweight physiology causes the organs of his acoustic generation to become stiff and inflexible, rendering the limits of his speech to the phrase, "I am Groot."</p>
							</div>
							<table>
								<tr>
									<td class="bold">Real Name</td>
									<td>Groot</td>
								</tr>
								<tr>
									<td class="bold">Species</td>
									<td>Flora colossus</td>
								</tr>
								<tr>
									<td class="bold">Age</td>
									<td>Unknown</td>
								</tr>
								<tr>
									<td class="bold">Height</td>
									<td>Unknown</td>
								</tr>
								<tr>
									<td class="bold">Weight</td>
									<td>Unknown</td>
								</tr>
								<tr>
									<td class="bold">Affiliation</td>
									<td>Guardians of the Galaxy</td>
								</tr>
								<tr>
									<td class="bold">First Appearance (Comics)</td>
									<td>Tales to Astonish #13 (1960)</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="char-wrapper clearfix">
						<div class="features">
							<p>Why does everybody love Groot?</p>
						</div>
						<div class="trait-wrapper">
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GrootGentle.gif" />
									<img class="image-link top" src="../Images/GrootGentle.jpg" />
									 <p class="tc highlight">A Kind Heart</p> 
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GrootExtension.gif" />
									<img class="image-link top" src="../Images/GrootExtension.jpg" />
									<p class="tc highlight">Body Extension</p>
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GrootLight.gif" />
									<img class="image-link top" src="../Images/GrootLight.jpg" />
									<p class="tc highlight">Bio-Luminance</p>
								</div>
							</div>
							<div class="trait sb">
								<div class="cf">
									<img class="image-link bottom" src="../Images/RocketGroot.gif" />
									<img class="image-link top" src="../Images/RocketGroot.jpg" />
									<p class="tc highlight">Best Friend of Rocket</p>
								</div>
							</div>
							<div class="trait sa">
								<div class="cf">
									<img class="image-link bottom" src="../Images/GrootBaby.gif" />
									<img class="image-link top" src="../Images/GrootBaby.jpg" />
									<p class="tc highlight">Regeneration</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="title-wrapper clearfix">
				<div class="section-title">Groot's Collectible Guide</div>
			</div>
			<div class="items-wrapper clearfix $hottoys">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysLogo.png" alt="Hot Toys" />
						</div>
						<div class="brand-info">
							Hot Toys Limited is a Hong Kong-based production house for designing, developing, and manufacturing highly detailed collectible merchandise. This movie-accurate Groot Collectible Figure features highly detailed head and body with remarkable paint application to reflect his distinctive appearance, and a specially designed figure stand.
						</div>
					</div>
					<div class="bi">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms253-guardians-of-the-galaxy-groot">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysGroot.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms253-guardians-of-the-galaxy-groot">
								<p class="dbitem-name">1/6 Scale Groot<br /><span class="sec">Movie Masterpiece Series #253</span></p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms254-guardians-of-the-galaxy-rocket-groot">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysRRGroot2.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms254-guardians-of-the-galaxy-rocket-groot">
								<p class="dbitem-name">1/6 Scale Rocket &amp; Groot<br /><span class="sec">Movie Masterpiece Series #254</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $kotobukiya">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/KotoLogo.png" alt="Kotobukiya" />
						</div>
						<div class="brand-info">
							Coming from the good folks over at Kotobukiya in Japan, this Rocket Raccoon ArtFX+ statue series showcases a highly detailed sculpt recreated in 1/10 scale. Sculpted by Junnosuke Abe, Rocket Raccoon brandishes his enormous sci-fi weapon as he stands on Groot’s shoulder. A snarling raccoon with intricately sculpted brown fur in a orange spacesuit holding a big gun and standing on the shoulders of a tree man, this ARTFX+ Statue is guaranteed to be a centerpiece in your collection!
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/kotobukiya-guardians-of-the-galaxy-artfx-statue-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/KotoArtFXRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/kotobukiya-guardians-of-the-galaxy-artfx-statue-rocket-raccoon">
								<p class="dbitem-name">1/10 Scale Rocket Raccoon Statue with Groot Base<br /><span class="sec">ArtFX+ Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $LEGO">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOLogo.png" alt="LEGO" />
						</div>
						<div class="brand-info">
							Everything is awesome... when it's LEGO! Recreate your favourite scenes from the movie with LEGO's colourful interlocking plastic bricks and gears. Also, let's not forget the LEGO minifigures which comes with each set. Get your very own Groot LEGO figure (requres assembly) today!
						</div>
					</div>
					<div class="two-sq bi">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-knowhere-escape-mission-76020">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOKnowhere.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-knowhere-escape-mission-76020">
								<p class="dbitem-name">Knowhere Escape Mission (76020)</p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-groot-minifigure">
								<img class="image-link" src="../Images/LEGOGrootminifigure.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-groot-minifigure">
								<p class="dbitem-name">Groot Minifigure</p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Funko">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoLogo.png" alt="Funko" />
						</div>
						<div class="brand-info">
							There’s a bobblehead for everyone and everything, from athletes and movies stars to popular musicians and comic book characters. For the bobblehead collectors, check out the item links below if you want to add Groot to your Bobblehead collection!
						</div>
					</div>
					<div class="single bi">
						<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-groot-bobble-head">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoGroot.jpg" />
						</a>
						<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-groot-bobble-head">
							<p class="dbitem-name">Groot Bobble-head<br /><span class="sec">Funko POP! Series</span></p>
						</a>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Hasbro">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLogo.png" alt="Hasbro" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to offer their line of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup. Each comes with a unique piece which you can assemble together for the special 7th figure - Groot! If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 fun toys in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-10-big-blastin-rocket-raccoon-figure">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroBigRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-guardians-of-the-galaxy-infinite-series-star-lord">
								<p class="dbitem-name">Big Blastin'<br /> Rocket Raccoon<br/><span class="sec">Battle FX Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-galactic-battlers-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroGalacticBattlersRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-galactic-battlers-rocket-raccoon">
								<p class="dbitem-name">Rocket Raccoon<br/><span class="sec">Galactic Battlers Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-titan-hero-series-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroTitanHeroRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-titan-hero-series-rocket-raccoon">
								<p class="dbitem-name">Rocket Raccoon<br/><span class="sec">Titan Hero Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLegendsRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-rocket-raccoon">
								<p class="dbitem-name">Rocket Raccoon<br/><span class="sec">Marvel Legends Infinite Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $DragonModels">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DragonModelsLogo.png" alt="Dragon Models" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to be part of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup for the special 7th figure. If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 items in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-rocket-raccoon-1-9-action-hero-vignette">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DragonModelsRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-rocket-raccoon-1-9-action-hero-vignette">
								<p class="dbitem-name">1/9 Scale Rocket Raccoon<br /><span class="sec">Action Vignette Series</span></p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-groot-with-rocket-raccoon-1-9-action-hero-vignette">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DragonModelsRRGroot.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-groot-with-rocket-raccoon-1-9-action-hero-vignette">
								<p class="dbitem-name">1/9 Scale Groot with Rocket Raccoon<br /><span class="sec">Action Vignette Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="related-wrapper clearfix">
				<section>
					<div class="related">Not a fan of the wise-cracking Star-Lord? Check out the other Guardians!</div>
					<div class="clearfix">
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Star-Lord</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GamoraSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Gamora</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/RRSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Rocket</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DraxSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Drax</p>
							</a>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>