<% title "Rocket Raccoon Collectibles Guide" %>
<div id="main">
	<div class="container rr">
		<section>
			<div class="character rr-top">Rocket Raccoon</div>
		</section>
		<section>
			<div class="profile-wrapper clearfix">
				<div class="char-info rr-color">
					<div class="char-wrapper clearfix">
						<div class="profile">
							<div class="cf">
								<img class="image-link bottom" src="../Images/RocketGreeting.gif" />
								<img class="image-link top" src="../Images/RocketBlock.jpg" />
							</div>
							<p class="quote">"Well now I'm standing. Happy? We're all standing now. Bunch of jackasses, standing in a circle."</p>
						</div>
						<div class="bio">
							<div class="intro">
								<p>The only unique creature of his kind in all cosmos, Rocket is an Earth-born raccoon brought to the alien world Halfworld where he was subjected to numerous genetic and cybernetic experiments which successfully gave him sentient intelligence. However, this came at a price - years of abuse and repetitive genetic rewrite which caused Rocket to develop a vain and chaotic personality, driving him into becoming a gunslinging mercenary. Before joining the Guardians of the Galaxy, his partner-in-crime and only friend is <a href="/">Groot</a>.</p>
							</div>
							<table>
								<tr>
									<td class="bold">Real Name</td>
									<td>Subject: 89P13</td>
								</tr>
								<tr>
									<td class="bold">Species</td>
									<td>Raccoon (Cybernetic and Genetically Modified)</td>
								</tr>
								<tr>
									<td class="bold">Age</td>
									<td>Unknown</td>
								</tr>
								<tr>
									<td class="bold">Height</td>
									<td>4"</td>
								</tr>
								<tr>
									<td class="bold">Weight</td>
									<td>55 lbs.</td>
								</tr>
								<tr>
									<td class="bold">Affiliation</td>
									<td>Guardians of the Galaxy</td>
								</tr>
								<tr>
									<td class="bold">First Appearance (Comics)</td>
									<td>Marvel Preview #7 (1976)</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="char-wrapper clearfix">
						<div class="features">
							<p>"Ain't nothing like me, except me!"</p>
						</div>
						<div class="trait-wrapper">
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/RocketLovesGun.gif" />
									<img class="image-link top" src="../Images/RocketLovesGun.jpg" />
									 <p class="tc highlight">Loves Guns</p> 
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/RocketPlan.gif" />
									<img class="image-link top" src="../Images/RocketPlan.jpg" />
									<p class="tc highlight">Master of Tactics</p>
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="../Images/RocketGadget.gif" />
									<img class="image-link top" src="../Images/RocketGadget.jpg" />
									<p class="tc highlight">Gadget Expert</p>
								</div>
							</div>
							<div class="trait sb">
								<div class="cf">
									<img class="image-link bottom" src="../Images/RocketGroot.gif" />
									<img class="image-link top" src="../Images/RocketGroot.jpg" />
									<p class="tc highlight">Best Friend of Groot</p>
								</div>
							</div>
							<div class="trait sa">
								<div class="cf">
									<img class="image-link bottom" src="../Images/RocketHadron.gif" />
									<img class="image-link top" src="../Images/RocketHadron.jpg" />
									<p class="tc highlight">Hadron Enforcer</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="title-wrapper clearfix">
				<div class="section-title">Rocket Raccoon's Collectible Guide</div>
			</div>
			<div class="items-wrapper clearfix $hottoys">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysLogo.png" alt="Hot Toys" />
						</div>
						<div class="brand-info">
							Hot Toys Limited is a Hong Kong-based production house for designing, developing, and manufacturing highly detailed collectible merchandise. This movie-accurate Rocket Raccoon Collectible Figure is specially crafted based on his unique physique in the film. It features a finely sculpted head and body, specially tailored costume and weapon.
						</div>
					</div>
					<div class="bi">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms252-guardians-of-the-galaxy-rocket">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysRocketRaccoon.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms252-guardians-of-the-galaxy-rocket">
								<p class="dbitem-name">1/6 Scale Rocket Raccoon<br /><span class="sec">Movie Masterpiece Series #252</span></p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms254-guardians-of-the-galaxy-rocket-groot">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysRRGroot1.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms254-guardians-of-the-galaxy-rocket-groot">
								<p class="dbitem-name">1/6 Scale Rocket &amp; Groot<br /><span class="sec">Movie Masterpiece Series #254</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $kotobukiya">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/KotoLogo.png" alt="Kotobukiya" />
						</div>
						<div class="brand-info">
							Coming from the good folks over at Kotobukiya in Japan, this Rocket Raccoon ArtFX+ statue series showcases a highly detailed sculpt recreated in 1/10 scale. Sculpted by Junnosuke Abe, Rocket Raccoon brandishes his enormous sci-fi weapon as he stands on Groot’s shoulder. A snarling raccoon with intricately sculpted brown fur in a orange spacesuit holding a big gun and standing on the shoulders of a tree man, this ARTFX+ Statue is guaranteed to be a centerpiece in your collection!
						</div>
					</div>
					<div class="bi">
						<div class="single">
							<a href="http://www.collectib.ly/db_items/kotobukiya-guardians-of-the-galaxy-artfx-statue-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/KotoArtFXRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/kotobukiya-guardians-of-the-galaxy-artfx-statue-rocket-raccoon">
								<p class="dbitem-name">1/10 Scale Rocket Raccoon Statue<br /><span class="sec">ArtFX+ Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $LEGO">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOLogo.png" alt="LEGO" />
						</div>
						<div class="brand-info">
							Everything is awesome... when it's LEGO! Recreate your favourite scenes from the movie with LEGO's colourful interlocking plastic bricks and gears. Also, let's not forget the LEGO minifigures which comes with each set. Get your very own Rocket Raccoon minifigure today! Comes in two different versions, one wearing the original orange suit and the other in the red Ravagers suit which is somewhat tight around the groin.
						</div>
					</div>
					<div class="bi">
						<div class="four">
						<a href="http://www.collectib.ly/db_items/lego-knowhere-escape-mission-76020">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOKnowhere.jpg" />
						</a>
						<a href="http://www.collectib.ly/db_items/lego-knowhere-escape-mission-76020">
							<p class="dbitem-name">Knowhere Escape Mission (76020)</p>
						</a>
					</div>
					<div class="four">
						<a href="http://www.collectib.ly/db_items/lego-rocket-raccoon-minifigure">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGORRminifigure.jpg" />
						</a>
						<a href="http://www.collectib.ly/db_items/lego-rocket-raccoon-minifigure">
							<p class="dbitem-name">Rocket Minifigure<br /><span class="sec">Original Costume</span></p>
						</a>
					</div>
					<div class="four">
						<a href="http://www.collectib.ly/db_items/lego-rocket-raccoon-minifigure-ravagers-suit-sdcc-2014-exclusive">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGORRsdccminifig.jpg" />
						</a>
						<a href="http://www.collectib.ly/db_items/lego-rocket-raccoon-minifigure-ravagers-suit-sdcc-2014-exclusive">
							<p class="dbitem-name">Rocket Minifigure<br /><span class="sec">Ravagers Suit Version<br /> SDCC 2014 Exclusive</span></p>
						</a>
					</div>
					<div class="four">
						<a href="http://www.collectib.ly/db_items/lego-rocket-s-warbird-sdcc034">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGORRsdccwarbird.jpg" />
						</a>
						<a href="http://www.collectib.ly/db_items/lego-rocket-s-warbird-sdcc034">
							<p class="dbitem-name">Rocket's Warbird (SDCC034)</p>
						</a>
					</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Funko">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoLogo.png" alt="Funko" />
						</div>
						<div class="brand-info">
							There’s a bobblehead for everyone and everything, from athletes and movies stars to popular musicians and comic book characters. For the bobblehead collectors, check out the item links below if you want to add Rocket Raccoon to your Bobblehead collection!
						</div>
					</div>
					<div class="three-sq bi">
						<div class="three">
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-rocket-raccoon-bobble-head">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-rocket-raccoon-bobble-head">
								<p class="dbitem-name">Rocket Bobble-Head<br/><span class="sec">Funko POP! Series</span></p>
							</a>
						</div>
						<div class="three">
							<a href="http://www.collectib.ly/db_items/funko-fabrikations-marvel-guardians-of-the-galaxy-rocket-raccoon-plush">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoRRFab.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-fabrikations-marvel-guardians-of-the-galaxy-rocket-raccoon-plush">
								<p class="dbitem-name">Rocket Raccoon Plush<br/><span class="sec">Funko Fabrikations Series</span></p>
							</a>
						</div>
						<div class="three">
							<a href="http://www.collectib.ly/db_items/funko-guardians-of-the-galaxy-wacky-wobbler-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoRRWacky.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-guardians-of-the-galaxy-wacky-wobbler-rocket-raccoon">
								<p class="dbitem-name">Rocket Wacky Wobbler<br/><span class="sec">Funko Wacky Wobbler Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Hasbro">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLogo.png" alt="Hasbro" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to offer their line of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup. Each comes with a unique piece which you can assemble together for the special 7th figure - Groot! If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 fun toys in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-10-big-blastin-rocket-raccoon-figure">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroBigRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-guardians-of-the-galaxy-infinite-series-star-lord">
								<p class="dbitem-name">Big Blastin'<br /> Rocket Raccoon<br/><span class="sec">Battle FX Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-galactic-battlers-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroGalacticBattlersRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-galactic-battlers-rocket-raccoon">
								<p class="dbitem-name">Rocket Raccoon<br/><span class="sec">Galactic Battlers Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-titan-hero-series-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroTitanHeroRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-titan-hero-series-rocket-raccoon">
								<p class="dbitem-name">Rocket Raccoon<br/><span class="sec">Titan Hero Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-rocket-raccoon">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLegendsRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-infinite-series-guardians-of-the-galaxy-rocket-raccoon">
								<p class="dbitem-name">Rocket Raccoon<br/><span class="sec">Marvel Legends Infinite Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $DragonModels">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DragonModelsLogo.png" alt="Dragon Models" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to be part of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup for the special 7th figure. If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 items in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-rocket-raccoon-1-9-action-hero-vignette">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DragonModelsRR.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-rocket-raccoon-1-9-action-hero-vignette">
								<p class="dbitem-name">1/9 Scale Rocket Raccoon<br /><span class="sec">Action Vignette Series</span></p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-groot-with-rocket-raccoon-1-9-action-hero-vignette">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DragonModelsRRGroot.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/dragon-models-guardians-of-the-galaxy-groot-with-rocket-raccoon-1-9-action-hero-vignette">
								<p class="dbitem-name">1/9 Scale Groot with Rocket Raccoon<br /><span class="sec">Action Vignette Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="related-wrapper clearfix">
				<section>
					<div class="related">Not a fan of the wise-cracking Star-Lord? Check out the other Guardians!</div>
					<div class="clearfix">
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Star-Lord</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GamoraSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Gamora</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GrootSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Groot</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DraxSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Drax</p>
							</a>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>