<% title "Ships Guide" %>
<div id="main">
	<div class="container ships">
		<section>
			<div class="character ships-top">
				Warships &amp; Spacecrafts<br /> 
				<span class="sub-char">Guide to the ships in Guardians of the Galaxy</span>
			</div>
		</section>
		<section>
			<div class="profile-wrapper clearfix">
				<div class="ls">
					<img class="image bottom" src="../Images/TheMilanoArt.jpg" />
					<div class="ls-top">
						<div class="space clearfix">
							<p>
								Ravager M-Class Spacecraft <span class="bold">"The Milano"</span>
							</p>
						</div>
					</div>
				</div>
				<div class="ls-info">
					<div>
						<p class="ship-name space">The Milano</p>
						<p class="space">
							Named after his childhood crush <span class="italic">Alyssa Milano</span>, The Milano is a customized M-class vessel used by Peter Quill, given to him when he was part of the Ravagers. As Star-Lord, Peter used the Milano for looting and piracy, establishing his name as an intergalactic convict. It was later used by the Guardians of the Galaxy in the final Battle of Xandar.
						</p>
					</div>
					<div class="sp clearfix">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hasbro-guardians-of-the-galaxy-milano-starship-vehicle" target="_blank">
								<img class="image-link" src="../Images/HasbroTheMilano.jpg" />
								<p class="sci-name tc">Hasbro</p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021" target="_blank">
								<img class="image-link" src="../Images/LEGOTheMilanoShip.jpg" />
								<p class="sci-name tc">LEGO</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-wrapper clearfix">
				<div class="ls">
					<img class="image bottom" src="../Images/TheNovaStarBlasterArt.jpg" />
					<div class="ls-top">
						<div class="space clearfix">
							<p>
								Nova Corps Spacecraft <span class="bold">"Star Blaster"</span>
							</p>
						</div>
					</div>
				</div>
				<div class="ls-info">
					<div>
						<p class="ship-name space">Star Blaster</p>
						<p class="space">
							In an attempt to prevent the Dark Aster from reaching the ground level of Xandar, the Xandarians used the Star Blasters to create a massive energy barrier by linking adjacent ships. All will be lost if Ronan is allowed to step foot on Xandar.
						</p>
					</div>
					<div class="sp clearfix">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-starblaster-showdown-76019" target="_blank">
								<img class="image-link" src="../Images/LEGOStarBlaster.jpg" />
								<p class="sci-name tc">LEGO</p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hasbro-guardians-of-the-galaxy-nova-corps-starblaster-vehicle" target="_blank">
								<img class="image-link" src="../Images/HasbroStarBlaster.jpg" />
								<p class="sci-name tc">Hasbro</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-wrapper clearfix">
				<div class="ls">
					<img class="image bottom" src="../Images/TheRocketWarbirdArt.jpg" />
					<div class="ls-top">
						<div class="space clearfix">
							<p>
								Rocket's M-Class <span class="bold">"Warbird"</span>
							</p>
						</div>
					</div>
				</div>
				<div class="ls-info">
					<div>
						<p class="ship-name space">Warbird</p>
						<p class="space">
							During the Battle of Xandar, Rocket Raccoon used the Warbird to join the other M-class Ravagers ships in protecting the city from dive-bombing Necrocraft. After the Nova Corps Star Blasters are destroyed by Ronan, Rocket flies the Warbird into the Dark Aster and directly smashes into Ronan, resulting in irreparable damage to both the Warbird and Dark Aster.
						</p>
					</div>
					<div class="sp clearfix">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-starblaster-showdown-76019" target="_blank">
								<img class="image-link" src="../Images/LEGORocketWarbird.jpg" />
								<p class="sci-name tc">LEGO</p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hasbro-guardians-of-the-galaxy-nova-corps-starblaster-vehicle" target="_blank">
								<img class="image-link" src="../Images/HasbroRocketWarbird.jpg" />
								<p class="sci-name tc">Hasbro</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-wrapper clearfix">
				<div class="ls">
					<img class="image bottom" src="../Images/TheNecrocraftArt.jpg" />
					<div class="ls-top">
						<div class="space clearfix">
							<p>
								Sakaaran Spacecship <span class="bold">"Necrocraft"</span>
							</p>
						</div>
					</div>
				</div>
				<div class="ls-info">
					<div>
						<p class="ship-name space">Necrocraft</p>
						<p class="space">
							Wherever Ronan orders the Sakaarans to go, the Necrocrafts will be the ships which will get them there. The Necrocrafts each house a powerful gun which shoots out deadly "Necro-Blasts". During the Battle of Xandar, hundreds of Necrocrafts were launched from the Dark Aster.
						</p>
					</div>
					<div class="sp clearfix">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hasbro-guardians-of-the-galaxy-necrocraft-vehicle" target="_blank">
								<img class="image-link" src="../Images/HasbroNecrocraft.jpg" />
								<p class="sci-name tc">Hasbro</p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021" target="_blank">
								<img class="image-link" src="../Images/LEGONecrocraft.jpg" />
								<p class="sci-name tc">LEGO</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-wrapper clearfix">
				<div class="ls">
					<img class="image bottom" src="../Images/TheDarkAsterArt.jpg" />
					<div class="ls-top">
						<div class="space clearfix">
							<p>
								Kree Warship <span class="bold">"Dark Aster"</span>
							</p>
						</div>
					</div>
				</div>
				<div class="ls-info">
					<div>
						<p class="ship-name space">Dark Aster</p>
						<p class="space">
							Serving as the flagship of Ronan the Accuser, it is a three-mile long warship which housed hundreds of Necrocrafts within its wings. It was almost stopped in its tracks by the combined efforts of the Nova Corps Star Blasters' joint energy barrier, before Ronan intervened with his Universal Weapon powered by the <a href="/">Infinity Stone.</a>
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>