<% title "Star-Lord Collectibles Guide" %>
<div id="main">
	<div class="container sl">
		<section>
			<div class="character">Star-Lord</div>
		</section>
		<section>
			<div class="profile-wrapper clearfix">
				<div class="char-info sl-color">
					<div class="char-wrapper clearfix">
						<div class="profile">
							<div class="cf">
								<img class="image-link bottom" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordGreeting2.gif" alt="Star-Lord" />
								<img class="image-link top" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordBlock3.jpg" alt="Star-Lord" />
							</div>
							<p class="center">"Star-Lord. Legendary Outlaw."</p>
						</div>
						<div class="bio">
							<div class="intro">
								<p class="space">Self-proclaimed "Star-Lord", Peter Quill is a half-human who was abducted from Earth at a young age and left stranded in space ever since, building up a reputation as a notorious (or so he claims) intergalactic outlaw. After recovering an immensely powerful artifact named the <a href="/" title="Orb of Moragg">"Orb"</a>, Quill attracts the attention of <a href="/">Ronan the Accuser</a> who would use its power to spread chaos and destruction.</p>
								<p>Equipped with his high-tech blasters, his starship "Milano" named after his childhood crush, and a mix-tape of music aptly named "Awesome Mix Vol.1", the headstrong Quill must rally an unlikely team of cosmic misfits - <a href="/">Gamora</a>, <a href="/">Drax</a>, <a href="/">Groot</a> and <a href="/">Rocket</a> for an all-or-nothing attempt to protect the galaxy.</p>
							</div>
							<table>
								<tr>
									<td class="field">Real Name</td>
									<td>Peter Jason Quill</td>
								</tr>
								<tr>
									<td class="field">Species</td>
									<td>½ Human,<br />½ Unknown Alien Species</td>
								</tr>
								<tr>
									<td class="field">Age</td>
									<td>34</td>
								</tr>
								<tr>
									<td class="field">Date of Birth</td>
									<td>Year 1980</td>
								</tr>
								<tr>
									<td class="field">Height</td>
									<td>6' 2"</td>
								</tr>
								<tr>
									<td class="field">Weight</td>
									<td>175 lbs.</td>
								</tr>
								<tr>
									<td class="field">Affiliation</td>
									<td>Ravagers,<br />Guardians of the Galaxy</td>
								</tr>
								<tr>
									<td class="field">First Appearance (Comics)</td>
									<td>Marvel Preview #4 (1976)</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="char-wrapper clearfix">
						<div class="features">
							<p>Star-Lord's Battle-Gear</p>
						</div>
						<div class="trait-wrapper">
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordHelmet.gif" />
									<img class="image-link top" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordHelmet.jpg" />
									 <p class="center highlight">Battle Helmet</p> 
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordQuadBlaster.gif" />
									<img class="image-link top" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordBlaster.jpg" />
									<p class="center highlight">Quad Blasters</p>
								</div>
							</div>
							<div class="trait">
								<div class="cf">
									<img class="image-link bottom" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordJetBoots.gif" />
									<img class="image-link top" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordJetboots.jpg" />
									<p class="center highlight">Jet Boots</p>
								</div>
							</div>
							<div class="trait sb">
								<div class="cf">
									<img class="image-link bottom" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordWalkman.gif" />
									<img class="image-link top" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordWalkman.jpg" />
									<p class="center highlight">SONY Walkman</p>
								</div>
							</div>
							<div class="trait sa">
								<div class="cf">
									<img class="image-link bottom" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordMilano.gif" />
									<img class="image-link top" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordMilano.jpg" />
									<p class="center highlight">Milano Spaceship</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="items-wrapper clearfix $hottoys">
				<div class="section-title">Star-Lord Collectible Guide</div>
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysLogo.png" alt="Hot Toys" />
						</div>
						<div class="brand-info">
							Hot Toys Limited is a Hong Kong-based production house for designing, developing, and manufacturing highly detailed collectible merchandise. This movie-accurate Star-Lord collectible figure is specially crafted based on the image of Chris Pratt as Star-Lord in the movie, featuring the newly developed head sculpt, an interchangeable LED light-up masked head sculpt, highly detailed costume, weapons and accessories.
						</div>
					</div>
					<div class="bi">
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms255-guardians-of-the-galaxy-star-lord">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysStarLord.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms255-guardians-of-the-galaxy-star-lord">
								<p class="dbitem-name">1/6 Scale Star-Lord<br /><span class="sec">Movie Masterpiece Series #255</span></p>
							</a>
						</div>
						<div class="two">
							<a href="http://www.collectib.ly/db_items/hot-toys-mms255-guardians-of-the-galaxy-star-lord-special-edition">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HotToysStarLordSpecial.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/hot-toys-mms255-guardians-of-the-galaxy-star-lord-special-edition">
								<p class="dbitem-name">1/6 Scale Star-Lord (Special Edition)<br /><span class="sec">Movie Masterpiece Series #255</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $LEGO">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/LEGOLogo.png" alt="LEGO" />
						</div>
						<div class="brand-info">
							Everything is awesome... when it's LEGO! Recreate your favourite scenes from the movie with LEGO's colourful interlocking plastic bricks and gears. Also, let's not forget the LEGO minifigures which comes with each set. Get your very own Star-Lord/Peter Quill minifigure today! Comes in two different versions, one wearing the original suit at the early part of the film and the other in the red Ravagers suit in the final act of the film.
						</div>
					</div>
					<div class="bi">
						<div class="four">
							<a href="http://www.collectib.ly/db_items/lego-starblaster-showdown-76019">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarblasterShowdown.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-starblaster-showdown-76019">
								<p class="dbitem-name">Starblaster Showdown (76019)</p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/lego-star-lord-minifigure">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordminifig.png" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-star-lord-minifigure">
								<p class="dbitem-name">Star-Lord Minifigure<br /><span class="sec">Original Costume</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/lego-star-lord-minifigure-ravagers-suit">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/StarLordminifigravagers.png" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-star-lord-minifigure-ravagers-suit">
								<p class="dbitem-name">Star-Lord Minifigure<br /><span class="sec">Ravagers Suit Version</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/TheMilano.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/lego-the-milano-spaceship-rescue-76021">
								<p class="dbitem-name">The Milano Spaceship Rescue (76021)</p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Funko">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoLogo.png" alt="Funko" />
						</div>
						<div class="brand-info">
							There’s a bobblehead for everyone and everything, from athletes and movies stars to popular musicians and comic book characters. For the bobblehead collectors, check out the item links below and see which Star-Lord will join the rest of your bobblehead collections. Three to choose from, that ought to be tough!
						</div>
					</div>
					<div class="three-sq bi">
						<div class="three">
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-star-lord-bobble-head">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoStarLord.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-star-lord-bobble-head">
								<p class="dbitem-name">Star Lord Bobble-Head<br/><span class="sec">Funko POP! Series</span></p>
							</a>
						</div>
						<div class="three">
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-star-lord-bobble-head-unmasked-exclusive">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoStarLordUnmasked.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-pop-marvel-guardians-of-the-galaxy-star-lord-bobble-head-unmasked-exclusive">
								<p class="dbitem-name">Star Lord Bobble-Head (Unmasked Exclusive)<br/><span class="sec">Funko POP! Series</span></p>
							</a>
						</div>
						<div class="three">
							<a href="http://www.collectib.ly/db_items/funko-guardians-of-the-galaxy-wacky-wobbler-star-lord">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/FunkoStarLordWacky.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/funko-guardians-of-the-galaxy-wacky-wobbler-star-lord">
								<p class="dbitem-name">Star-Lord Wacky Wobbler<br/><span class="sec">Funko Wacky Wobbler Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper clearfix $Hasbro">
				<section>
					<div class="clearfix">
						<div class="brand">
							<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLogo.png" alt="Hasbro" />
						</div>
						<div class="brand-info">
							Making toys since 1923, you can count on Hasbro to offer their line of the action figure collectibles for Guardians of the Galaxy. For Marvel Legends collectors, you may want to get your hands on the entire set of 6 from the Guardians of the Galaxy lineup. Each comes with a unique piece which you can assemble together for the special 7th figure - Groot! If you are a parent looking to buy fun toys for your child or just a collector who embraces his inner child, check out the other 3 fun toys in Hasbro's lineup.
						</div>
					</div>
					<div class="bi">
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-legends-guardians-of-the-galaxy-infinite-series-star-lord">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroLegendsStarLord.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-legends-guardians-of-the-galaxy-infinite-series-star-lord">
								<p class="dbitem-name">Star-Lord<br/><span class="sec">Marvel Legends Infinite Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-galactic-battlers-star-lord">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroGalacticBattlersStarLord.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-galactic-battlers-star-lord">
								<p class="dbitem-name">Star-Lord<br/><span class="sec">Galactic Battlers Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-titan-hero-series-star-lord">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroTitanHeroStarLord.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-titan-hero-series-star-lord">
								<p class="dbitem-name">Star-Lord<br/><span class="sec">Titan Hero Series</span></p>
							</a>
						</div>
						<div class="four">
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-battle-fx-star-lord">
								<img class="image-link" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/HasbroBattleFXStarLord.jpg" />
							</a>
							<a href="http://www.collectib.ly/db_items/marvel-guardians-of-the-galaxy-battle-fx-star-lord">
								<p class="dbitem-name">Star-Lord<br/><span class="sec">Battle FX Series</span></p>
							</a>
						</div>
					</div>
				</section>
			</div>
			<div class="items-wrapper related-bg clearfix">
				<section>
					<div class="related">Not a fan of the wise-cracking Star-Lord? Check out the other Guardians!</div>
					<div class="clearfix">
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GamoraSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Gamora</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/RRSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Rocket</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/GrootSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Groot</p>
							</a>
						</div>
						<div class="char">
							<a href="/">
								<img class="char-image" src="https://s3.amazonaws.com/Collectibly-Marketing/Images/DraxSquare.jpg" />
							</a>
							<a href="/">
								<p class="char-name">Drax</p>
							</a>
						</div>
					</div>
				</section>
			</div>
		</section>
	</div>
</div>