<% title "STGCC2014 Exclusives Collectible Guide" %>
<div id="main">
	<div class="container">
		<div class="content-wrapper clearfix">
			<header>
				<nav>
					<ul>
						<li class="logo one">
							<img src="https://s3.amazonaws.com/Collectibly-Marketing/STGCC/STGCC/collectibly-logo-(110px).png" />
							Collectibly
						</li>
						<a href="http://www.collectib.ly"><li class="nav-l">Home</li></a>
						<a href="http://www.collectib.ly/db_items"><li class="nav-l">Database</li></a>
						<li class="logo two">
							<img src="https://s3.amazonaws.com/Collectibly-Marketing/STGCC/collectibly-logo-(110px).png" />
							Collectibly
						</li>
						<a href="http://www.collectib.ly/explore/collections"><li class="nav-r">Collections</li></a>
						<a href="http://www.collectib.ly"><li class="nav-r">Sign Up</li></a>
					</ul>
				</nav>
			</header>
			<div class="intro">
				STGCC 2014<br />
				<span class="subtext">Exclusive Collectibles Guide</span><br />
			</div>
			<div class="hex-wrapper clearfix">
				<div class="hex-row">
					<a href="http://www.collectib.ly/explore/tags/hot-toys" target="_blank">
						<div id="hottoys" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-mms258-iron-man-3-peacemaker-mark-xxxvi-2014-summer-exclusive" target="_blank">
						<div id="peacemaker" class="hex">
							<p>Hot Toys MMS258 Iron Man Mark 36 "Peacemaker"</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-mms255-guardians-of-the-galaxy-star-lord-special-edition" target="_blank">
						<div id="sls" class="hex">
							<p>Hot Toys MMS255 Star Lord (Special Edition)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-mms257-back-to-the-future-marty-mcfly-special-edition" target="_blank">
						<div id="marty" class="hex">
							<p>Hot Toys MMS257 Marty McFly (Special Edition)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row even">
					<a href="http://www.collectib.ly/db_items/hot-toys-mms256d7-iron-man-mark-iii-die-cast-special-edition" target="_blank">
						<div id="im3dc" class="hex">
							<p>Hot Toys MMS256D7 Iron Man Mark 3 (Die Cast Edition)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-tf001-transformers-g1-optimus-prime-starscream-version-special-edition" target="_blank">
						<div id="opss" class="hex">
							<p>Hot Toys TF001 Optimus Prime Starscream Version (Special Edition)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-mms250-avp-ancient-predator-2014-toy-fair-exclusive" target="_blank">
						<div id="ap" class="hex">
							<p>Hot Toys MMS250 AVP - Ancient Predator <br />('14 Toy Fair Exclusive)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-mms248-iron-man-3-python-mark-xx-2014-toy-fairs-exclusive" target="_blank">
						<div id="python" class="hex">
							<p>Hot Toys MMS248 <br />Iron Man Mark 20 <br />"Python" <br />('14 Toy Fair Exclusive)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hot-toys-mms249-the-dark-knight-the-joker-bank-robber-version-2-0-2014-toy-fairs-exclusive" target="_blank">
						<div id="joker" class="hex">
							<p>Hot Toys MMS249 <br />TDK - The Joker <br />(Bank Robber Version 2.0)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row">
					<a href="http://www.collectib.ly/explore/tags/funko" target="_blank">
						<div id="funko" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-monkey-king-series-monkey-king" target="_blank">
						<div id="funkomk" class="hex">
							<p>Funko POP! Asia Monkey King Series - Monkey King</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-monkey-king-series-monk-sha" target="_blank">
						<div id="funkoms" class="hex">
							<p>Funko POP! Asia Monkey King Series - Monk Sha</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-monkey-king-series-monk-tang" target="_blank">
						<div id="funkomt" class="hex">
							<p>Funko POP! Asia Monkey King Series - Monk Tang</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row even">
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-monkey-king-series-pigsy" target="_blank">
						<div id="funkop" class="hex">
							<p>Funko POP! Asia Monkey King Series - Pigsy</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-jiangshi-hopping-ghosts-series-one-little-prince" target="_blank">
						<div id="funkolp" class="hex">
							<p>Funko POP! Asia Jiangshi Hopping Ghosts Series One - Little Prince</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-jiangshi-hopping-ghosts-series-one-prime-minister" target="_blank">
						<div id="funkopm" class="hex">
							<p>Funko POP! Asia Jiangshi Hopping Ghosts Series One - Prime Minister</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-jiangshi-hopping-ghosts-series-one-the-judge" target="_blank">
						<div id="funkotj" class="hex">
							<p>Funko POP! Asia Jiangshi Hopping Ghosts Series One - The Judge</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-jiangshi-hopping-ghosts-series-one-the-sheriff" target="_blank">
						<div id="funkots" class="hex">
							<p>Funko POP! Asia Jiangshi Hopping Ghosts Series One - The Sheriff</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row">
					<a href="http://www.collectib.ly/db_items/funko-x-mindstyle-hikari-jiangshi-the-sheriff" target="_blank">
						<div id="funkomsts" class="hex">
							<p>Funko X Mindstyle Hikari Jiangshi - The Sheriff</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-omamori-dolls-series-one-emi" target="_blank">
						<div id="funkoemi" class="hex">
							<p>Funko POP! Asia Omamori Dolls Series One - Emi</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-omamori-dolls-series-one-nana" target="_blank">
						<div id="funkonana" class="hex">
							<p>Funko POP! Asia Omamori Dolls Series One - Nana</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/funko-pop-asia-omamori-dolls-series-one-sakura" target="_blank">
						<div id="funkosakura" class="hex">
							<p>Funko POP! Asia Omamori Dolls Series One - Sakura</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row even">
					<a href="http://www.collectib.ly/explore/tags/hasbro" target="_blank">
						<div id="hasbro" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hasbro-star-wars-the-black-series-6-jabba-the-hutt" target="_blank">
						<div id="tbsjabba" class="hex">
							<p>Hasbro Star Wars The Black Series - Jabba the Hutt</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hasbro-star-wars-the-black-series-imperial-shadow-squadron" target="_blank">
						<div id="tbsimperial" class="hex">
							<p>Hasbro Star Wars The Black Series - Imperial Shadow Squadron</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/hasbro-transformers-knights-of-unicron-set" target="_blank">
						<div id="hasbrotfknights" class="hex">
							<p>Hasbro Transformers Knights of Unicron Set</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<div id="ph" class="hex">
						<div class="face1"></div>
						<div class="face2"></div>
					</div>
				</div>
				<div class="hex-row">
					<a href="http://www.collectib.ly/explore/tags/danboard" target="_blank">
						<div id="danboard" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/ma-k-danboard-01-s-a-f-s" target="_blank">
						<div id="danboardsafs" class="hex">
							<p>Ma.K. Danboard #01 : S.A.F.S</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/ma-k-danboard-02-ma-k-box" target="_blank">
						<div id="danboardmak" class="hex">
							<p>Ma.K. Danboard #02 : Ma.K.BOX</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/ma-k-danboard-03-banana-box" target="_blank">
						<div id="danboardbanana" class="hex">
							<p>Ma.K. Danboard #03 : BANANA BOX</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row even">
					<a href="http://www.collectib.ly/explore/tags/zcwo" target="_blank">
						<div id="zcwo" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/zcwo-fc-barcelona-carles-puyol-stgcc-2014-exclusive" target="_blank">
						<div id="puyol" class="hex">
							<p>ZCWO FC Barcelona - Carles Puyol (STGCC 2014 Exclusive)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/zcwo-fc-barcelona-lionel-messi-stgcc-2014-exclusive" target="_blank">
						<div id="messi" class="hex">
							<p>ZCWO FC Barcelona - Lionel Messi (STGCC 2014 Exclusive)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/explore/tags/play-arts-kai" target="_blank">
						<div id="pak" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/play-arts-kai-square-enix-metal-gear-solid-v-the-phantom-pain-snake-sneak-preview-version" target="_blank">
						<div id="mgsphantom" class="hex">
							<p>Play Arts Kai Square Enix Metal Gear Solid V - The Phantom Pain (Snake Sneak Preview Version)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row">
					<a href="http://www.collectib.ly/explore/tags/acg-toys" target="_blank">
						<div id="acgtoys" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/acg-toys-dragon-tiger-gate-tiger-wong-anniversary-edition" target="_blank">
						<div id="acgtiger" class="hex">
							<p>ACG Toys Dragon Tiger Gate - Tiger Wong (Anniversary Edition)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/explore/tags/dam-toys" target="_blank">
						<div id="damtoys" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/damtoys-gangsters-kingdom-spade-j-special-color-edition-stgcc-2014-exclusive" target="_blank">
						<div id="spadej" class="hex">
							<p>Damtoys - Gangsters Kingdom - Spade J (Special Color Edition) (STGCC 2014 Exclusive)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row even">
					<a href="http://www.collectib.ly/explore/tags/fansproject" target="_blank">
						<div id="fansproject" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/fansproject-lost-exo-realm-ler-01-columpio-drepan" target="_blank">
						<div id="fpcolumpio" class="hex">
							<p>FansProject Lost Exo-Realm LER-01 - Columpio / Drepan</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/fansproject-kausality-ka9-kar-krash" target="_blank">
						<div id="fpkarkrash" class="hex">
							<p>FansProject Kausality KA9 Kar Krash</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/explore/tags/toynami" target="_blank">
						<div id="toynami" class="hex">
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/toynami-30th-anniversary-collectors-set-voltron-gold-version" target="_blank">
						<div id="voltron" class="hex">
							<p>Toynami 30th Anniversary Collectors Set - Voltron (Gold Version)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row">
					<a href="http://www.collectib.ly/db_items/batman-and-robin-stgcc-2014-exclusive-print" target="_blank">
						<div id="brprint" class="hex">
							<p>Batman and Robin STGCC 2014 Exclusive Print</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/starburn-1" target="_blank">
						<div id="starburn" class="hex">
							<p>Emerald Star Comics - Starburn #1</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/mastermind-creations-reformatted-r-08d-azalea-stealth-assassin" target="_blank">
						<div id="azalea" class="hex">
							<p>Mastermind Creations Reformatted R-08D - Azalea Stealth Assassin</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/metamor-force-black-dino-getter-1" target="_blank">
						<div id="metamorblackdino" class="hex">
							<p>METAMOR-FORCE Black Dino Getter 1</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
				<div class="hex-row even">
					<a href="http://www.collectib.ly/db_items/gecco-naruto-shippuden-uzumaki-naruto-ver" target="_blank">
						<div id="naruto" class="hex">
							<p>Gecco Naruto Shippuden - Uzumaki Naruto 四代目火影 Ver.</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/otaku-house-glass-doraemon-figures-set" target="_blank">
						<div id="glassdoraemon" class="hex">
							<p>Otaku House Glass Doraemon Figures Set</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/did-martin-luther-king-jr-1-6-figure-special-version" target="_blank">
						<div id="didmartin" class="hex">
							<p>DID Martin Luther King, Jr 1/6 Figure (Special Version)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/did-michael-wittman-1-6-figure-special-version" target="_blank">
						<div id="didmichael" class="hex">
							<p>DID Michael Wittman 1/6 Figure (Special Version)</p>
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
					<a href="http://www.collectib.ly/db_items/metamor-force-black-dino-getter-1" target="_blank">
						<div id="metamorblackdino" class="hex hex-bottom">
							METAMOR-FORCE Black Dino Getter 1
							<div class="face1"></div>
							<div class="face2"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>