html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, /* took out <strong>, <em> */
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* border-box model */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* <a> styling */
p a:link {color:#fff69b; text-decoration: none; font-weight: 700;}
p a:visited {color:#fff69b; text-decoration: none; font-weight: 700;}
p a:hover   {color:#e67e22; text-decoration: underline; font-weight: 700;}

a:link    {color:#009fe4; text-decoration: none;}
a:visited {color:#009fe4; text-decoration: none;}
a:hover   {color:#e67e22; text-decoration: underline;}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  color: #3d3d3d;
}

.sl {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/starlordbg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rr {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/rocketraccoonbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.groot {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/grootbg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ga {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/gamorabg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.drax {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/draxbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sl-color {
  background: rgba(153,0,0,.8);
}

.rr-color {
  background: rgba(211,84,0,.8);
}

.ga-color {
  background: rgba(180,33,72,.8);
}

.drax-color {
  background: rgba(41,84,117,1);
}

.groot-color {
  background: rgba(212,165,5,1);
}

.container, .char-wrapper, .items-wrapper, .profile-wrapper, .trait-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.items-wrapper, .profile-wrapper {
  max-width: 1280px;
  background: rgba(255,255,255,.9);
}

.container {
  padding: 0;
}

.items-wrapper {
  padding: 0 10% 5%; 
}

.profile-wrapper {
  padding: 2%;
}

.trait-wrapper {
  padding: 1%;
}

.bi {
  padding-top: 1%;
}

.related-bg {
  background: rgba(241,196,15,1);
}

.character {
  padding-top: 20%;
  font-size: 4em;
  font-family: 'Quattrocento', "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 5px 5px 5px #000000;
}

.char-info {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 4%;
  color: #ffffff;
  line-height: 150%;
  font-weight: 400;
  font-size: 1em;
}

.profile {
  width: 25%;
  float: left;
  padding-right: 1%;
}

.bio {
  width: 75%;
  float: right;
  padding-left: 2%;
}

.intro {
  width: 100%;
  font-weight: 400;
  margin-bottom: 2.5%;
  padding-right: 2.5%;
}

.trait {
  width: 20%;
  float: left;
  padding: 0.5%;
  position: relative;
}

.features {
  width: 100%;
  text-transform: uppercase;
  font-family: "Nova Square", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  padding: 1%;
  border-top: 2px solid #ffffff;
}

.field {
  font-weight: 900;
}

table {
  font-size: 0.9em;
  margin-bottom: 2.5%;
}

td {
  padding: 0 3.5em 0.5em 0;
}

.section-title {
  width: 70%;
  margin: 0 auto;
  font-family: "Trajan Pro", "Arial", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #000000;
  text-align: center;
  line-height: 150%;
  border-bottom: 1px solid #747474;
  padding-top: 2.5%;
}

.brand {
  float: left;
  width: 10%;
  margin: 0 auto;
  padding-top: 1%;
}

.brand-info {
  float: right;
  width: 90%;
  line-height: 150%;
  padding: 1.5% 2.5%;
}

.single {
  width: 100%;
  margin: 0 auto;
  padding: 0 25%;
}

.two {
  width: 50%;
  float: left;
  padding: 0.5%;
}

.three {
  width: 30%;
  float: left;
  padding: 0.5%;
}

.four {
  width: 25%;
  float: left;
  padding: 0.5%;
  position: relative;
}

.two-sq {
  padding: 0 25%;
}

.three-sq {
  padding-left: 10%;
}

.image-link {
  width: 100%;
}

.dbitem-name {
  font-weight: 500;
  font-size: 1.3em;
  line-height: 150%;
  text-align: center;
  padding: 1.5%;
}

/* animation */

.cf {
  position: relative;
  display: block;
}

.bottom {
  position: relative;
  border: 1px solid #eeeeee;
}

.top {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.top:hover, .top:focus, .top:active {
  opacity: 0;
}

/* end animation */

.center {
  text-align: center;
  position: relative;
  font-weight: 700;
}

.sec {
  font-size: 0.7em;
  font-weight: 400;
  color: #3d3d3d;
}

.highlight {
  background: rgba(0,0,0,0.1);
  line-height: 150%;
  text-align: center;
}

.related {
  padding: 3% 0 2%;
  font-size: 1.1em;
  font-weight: 500;
}

.space {
  margin-bottom: 1em;
}

.char-name {
  font-family: "Trajan Pro", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #3d3d3d;
  text-align: center;
  line-height: 150%;
}

.char-image {
  width: 100%;
}

.char {
  width: 25%;
  float: left;
  padding: 1%;
}

@media only screen and (max-width: 1080px) {
  /* .character {
    padding-top: 30%;
  } */
  .profile {
    width: 27.5%;
  }
  .bio {
    width: 72.5%;
  }
  .trait-wrapper {
    padding: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .profile {
    width: 30%;
  }
  .bio {
    width: 70%;
  }
  .section-title {
    width: 85%;
  }
  .brand {
    width: 15%;
  }
  .brand-info {
    width: 85%;
    padding-right: 1%;
  }
  .dbitem-name {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 900px) {
  /* .character {
    padding-top: 35%;
  } */
  .profile {
    width: 32.5%;
  }
  .bio {
    width: 67.5%;
  }
  .brand-info {
    padding-right: 0%;
  }
  .section-title {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* .character {
    padding-top: 45%;
  } */
  .items-wrapper {
    padding: 0 2.5% 2.5%;
  }
  .profile {
    width: 100%;
    float: none;
    padding: 0 30%;
  }
  .bio {
    width: 100%;
    float: none;
  }
  .trait-wrapper {
    padding: 2.5%;
  }
  .trait {
    width: 33.33333%;
  }
  .section-title {
    font-size: 1.8em;
  }
  .center {
    padding-bottom: 1%;
  }
  .intro {
    padding-top: 2%;
    padding-right: 0%;
  }
  .features {
    text-align: center;
  }
  .dbitem-name {
    font-size: 1.1em;
  }
  .brand-info {
    padding-right: 0.5%;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 720px) {
  #cf {
    height: 200px;
  }
  #cfprofile {
    height: 320px;
  }
}

@media only screen and (max-width: 640px) {
  /* .character {
    padding-top: 50%;
  } */
  .sl {
    background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/starlordbg5.jpg') no-repeat center top fixed;
  }
  .profile {
    padding: 0 25%;
  }
  .items-wrapper {
    padding: 0 4% 4%;
  }
  .two {
    width: 100%;
    padding: 0 5%;
  }
  .three {
    width: 100%;
    padding: 0 27.5%;
  }
  .three-sq {
    padding-left: 0%;
  }
  .four {
    width: 50%;
    padding: 2%;
  }
  .brand {
    float: none;
  }
  .brand-info {
    width: 100%;
    padding-left: 0%;
    float: none;
  }
  .char {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  /* .character {
    padding-top: 75%;
  } */
  .profile-wrapper {
    padding: 1%;
  }
  .bio {
    padding-left: 0em;
  }
}

@media only screen and (max-width: 480px) {
  /* .character {
    padding-top: 11.5em;
  } */
  .profile {
    padding: 5% 15%;
  }
  .intro {
    padding-top: 0%;
  }
  .trait {
    width: 50%;
    padding: 1%;
  }
  .four {
    padding: 1%;
  }
  .dbitem-name {
    font-size: 1.1em;
  }
  .sec {
  font-size: 0.6em;
  }
  .brand-info, .intro, td {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 320px) {
  .character {
    font-size: 2.5em;
    padding-top: 524px;
  }
  .profile {
    padding: 5%;
  }
  .center {
    font-size: 0.85em;
  }
  .ss {
    width: 100%;
  }
  .features {
    font-size: 1.1em;
  }
  .section-title {
    font-size: 1.4em;
  }
  .dbitem-name {
    font-size: 0.9em;
  }
  .related {
    font-size: 1em;
    padding: 5% 1%;
  }
  .char-name {
    font-size: 0.9em;
  }
}