html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, /* took out <strong>, <em> */
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* border-box model */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* <a> styling */
.intro a:link {color:#fff69b; text-decoration: none; font-weight: 700;}
.intro a:visited {color:#fff69b; text-decoration: none; font-weight: 700;}
.intro a:hover   {color:#e67e22; text-decoration: underline; font-weight: 700;}

a:link    {color:#009fe4; text-decoration: none;}
a:visited {color:#009fe4; text-decoration: none;}
a:hover   {color:#e67e22; text-decoration: underline;}

ul {
  list-style: square;
  list-style-position: inside;
  padding-left: 1em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #3d3d3d;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  cursor: default;
}

header {
  background: rgba(255,255,255,1);
}

.sl {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/starlordbg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rr {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/rocketraccoonbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.groot {
  background: url('../Images/grootbg2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ga {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/gamorabg2.jpg') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.drax {
  background: url('https://s3.amazonaws.com/Collectibly-Marketing/Images/draxbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ronan {
  background: url('../Images/ronanbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ships {
  background: url('../Images/XandarSky.jpg') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gear {
  background: url('../Images/starlordbg.jpg') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sl-color {
  background: rgba(153,0,0,.8);
}

.rr-color {
  background: rgba(192,74,0,.8);
}

.groot-color {
  background: rgba(39,124,56,.8);
}

.ga-color {
  background: rgba(162,14,122,.8);
}

.drax-color {
  background: rgba(194,33,12,.8);
}

.ronan-color {
  background: rgba(82,68,153,1);
}

.container, .char-wrapper, .items-wrapper, .profile-wrapper, .trait-wrapper, .title-wrapper, .related-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.items-wrapper, .title-wrapper, .profile-wrapper, .sc-wrapper {
  max-width: 1280px;
  background: rgba(255,255,255,.95);
}

.container {
  padding: 0;
}

.items-wrapper {
  padding: 0 10% 5%; 
}

.title-wrapper {
  padding: 0 10%;
}

.profile-wrapper {
  padding: 2%;
}

.trait-wrapper {
  padding: 1%;
}

.bi {
  padding-top: 1%;
}

.related-wrapper {
  padding: 0 10% 2%;
  background: rgba(241,196,15,1);
}

.sc-wrapper {
  padding: 2% 20% 1%;
}

.gear-wrapper {
  padding: 2% 0;
}

.character {
  padding-top: 80vh;
  font-size: 4em;
  font-family: 'Quattrocento', "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ecf0f1;
  text-shadow: 5px 5px 5px #000000;
}

.sub-char {
  font-size: 50%;
  font-weight: 400;
}

.char-info {
  padding: 3% 4%;
  color: #ffffff;
}

.profile {
  width: 25%;
  float: left;
  padding-right: 1%;
}

.bio {
  width: 75%;
  float: right;
  padding-left: 2%;
}

.intro {
  width: 100%;
  margin-bottom: 2.5%;
  padding-right: 2.5%;
}

table {
  font-size: 0.9em;
  margin-bottom: 2.5%;
}

td {
  padding: 0 3.5em 0.5em 0;
}

.features {
  text-transform: uppercase;
  font-family: "Nova Square", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  padding: 1%;
  border-top: 2px solid #ffffff;
}

.trait {
  width: 20%;
  float: left;
  padding: 0.5%;
  position: relative;
}

.section-title {
  width: 70%;
  margin: 0 auto;
  font-family: "Trajan Pro", "Arial", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 150%;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #747474;
  padding-top: 2.5%;
}

.section-char {
  width: 20%;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #009fe4;
  float: left;
}

.scb {
  border-right: 2px solid #003366;
}

.brand {
  float: left;
  width: 10%;
  margin: 0 auto;
  padding-top: 1%;
}

.brand-info {
  float: right;
  width: 90%;
  padding: 1.5% 2.5%;
}

.single {
  width: 100%;
  margin: 0 auto;
  padding: 0 25%;
}

.two { /* responsive */
  width: 50%;
  float: left;
  padding: 1%;
}

.three { /* responsive */
  width: 30%;
  float: left;
  padding: 0.5%;
}

.four { /* responsive */
  width: 25%;
  float: left;
  padding: 0.5%;
}

.two-sq {
  padding: 0 25%;
}

.three-sq { /* responsive */
  padding-left: 10%;
}

.image-link {
  width: 100%;
  cursor: pointer;
}

.image-link:hover {
  -webkit-box-shadow: 0px 0px 7px #448ccb;
  -moz-box-shadow: 0px 0px 7px #448ccb;
  box-shadow: 0px 0px 7px #448ccb;
}

.image {
  width: 100%;
  margin: 0 auto;
}

.dbitem-name {
  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
  padding: 1.5%;
}

.cf {
  position: relative;
  display: block;
}

.bottom {
  position: relative;
}

.top {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.top:hover, .top:focus, .top:active {
  opacity: 0;
}

.space {
  padding-bottom: 0.5em;
}

.tc {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.quote {
  font-weight: 500;
  padding-left: 3%;
}

.sec {
  font-size: 0.7em;
  color: #3d3d3d;
}

.highlight {
  background: rgba(0,0,0,0.1);
}

.related {
  padding: 3% 0 2%;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 120%;
}

.char-name {
  font-family: "Trajan Pro", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  color: #3d3d3d;
  text-align: center;
}

.char-image {
  width: 100%;
}

.char {
  width: 25%;
  float: left;
  padding: 1%;
}

.ship-name {
  font-size: 2em;
  text-transform: uppercase;
}

.sci-name {
  font-weight: 400;
  font-size: 1em;
  padding: 1%;
}

.ls {
  width: 60%;
  float: left;
  position: relative;
  color: #ffffff;
}

.ls-top {
  margin: 0 auto;
  position: absolute;
  padding: 1.5%;
  top: 87%;
  bottom: 2%;
  left: 0px;
  background-color: rgba(0,0,0,0.35);
  z-index: 100;
}

.ls-info {
  width: 40%;
  float: right;
  padding: 0 2%;
}

.sp {
  padding-right: 25%;
}

.lg {
  width: 35%;
  float: left;
  position: relative;
  color: #ffffff;
}

.lg-info {
  width: 65%;
  float: right;
  padding: 0 2%;
}

.gp {
  padding-right: 10%;
}

@media only screen and (max-width: 1080px) {
  .profile {
    width: 27.5%;
  }
  .bio {
    width: 72.5%;
  }
  .trait-wrapper {
    padding: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .profile {
    width: 30%;
  }
  .bio {
    width: 70%;
  }
  .section-title {
    width: 85%;
  }
  .brand {
    width: 15%;
  }
  .brand-info {
    width: 85%;
    padding-right: 1%;
  }
  .dbitem-name {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 900px) {
  .profile {
    width: 32.5%;
  }
  .bio {
    width: 67.5%;
  }
  .brand-info {
    padding-right: 0%;
  }
  .section-title {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .character {
    padding-top: 200px;
  }
  .sl {
    background: none;
  }
  div.sl-top {
    background: url('../Images/starlordbg800px.jpg') no-repeat center top fixed;
  }
  div.rr-top {
    background: url('../Images/rocketraccoonbg800px.jpg') no-repeat center top fixed;
  }
  div.drax-top {
    background: url('../Images/draxbg800px.jpg') no-repeat center top fixed;
  }
  div.groot-top {
    background: url('../Images/grootbg800px.jpg') no-repeat center top fixed;
  }
  div.ga-top {
    background: url('../Images/gamorabg800px.jpg') no-repeat center top fixed;
  }
  div.ronan-top {
    background: url('../Images/ronanbg800px.jpg') no-repeat center top fixed;
  }
  .items-wrapper {
    padding: 0 2.5% 2.5%;
  }
  .profile {
    width: 100%;
    float: none;
    padding: 0 25%;
  }
  .bio {
    width: 100%;
    float: none;
  }
  .trait-wrapper {
    padding: 2.5%;
  }
  .trait {
    width: 33.33333%;
  }
  .section-title {
    font-size: 1.8em;
  }
  .tc {
    padding-bottom: 1%;
  }
  .intro {
    padding-top: 2%;
    padding-right: 0%;
  }
  .features {
    text-align: center;
  }
  .dbitem-name {
    font-size: 1.1em;
  }
  .brand-info {
    padding-right: 0.5%;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 720px) {
  #cf {
    height: 200px;
  }
  #cfprofile {
    height: 320px;
  }
}

@media only screen and (max-width: 640px) {
  .profile {
    padding: 0 17.5%;
  }
  .items-wrapper {
    padding: 0 4% 4%;
  }
  .two {
    width: 100%;
    padding: 0 5%;
  }
  .three {
    width: 100%;
    padding: 0 22.5%;
  }
  .three-sq {
    padding-left: 0%;
  }
  .four {
    width: 50%;
    padding: 2%;
  }
  .brand {
    float: none;
  }
  .brand-info {
    width: 100%;
    padding-left: 0%;
    float: none;
  }
  .char {
    width: 50%;
  }
  .sa, .sb {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .profile-wrapper {
    padding: 1%;
  }
  .character {
    font-size: 3.5em;
  }
  .bio {
    padding-left: 0em;
  }
}

@media only screen and (max-width: 480px) {
  .character {
    font-size: 2.5em;
  }
  .profile {
    padding: 5% 10%;
  }
  .intro {
    padding-top: 0%;
  }
  .trait {
    width: 50%;
    padding: 1%;
  }
  .sa {
    width: 100%;
  }
  .four {
    padding: 1%;
  }
  .dbitem-name {
    font-size: 1.1em;
  }
  .sec {
  font-size: 0.6em;
  }
  .brand-info, .intro, td {
    font-size: 0.9em;
  }
  .intro, table {
    margin-bottom: 5%;
  }

}

@media only screen and (max-width: 320px) {
  .character {
    font-size: 2.5em;
    padding-top: 200px;
  }
  .profile {
    padding: 1.5%;
  }
  .tc {
    font-size: 0.9em;
  }
  .sa {
    width: 100%;
  }
  .features {
    font-size: 1.1em;
  }
  .section-title {
    font-size: 1.4em;
  }
  .dbitem-name {
    font-size: 0.9em;
  }
  .related {
    font-size: 1em;
    padding: 5% 1%;
  }
  .char-name {
    font-size: 0.9em;
  }
  .intro, .brand-info {
    text-align: justify;
  }
  .bio, .brand-info {
    padding: 3% 2%;
  }
  td {
    padding: 0 1em 0.5em 0;
  }
}