@import "variables";

// Collectibly nav
#collectibly-nav {
  @include border-box;
  height: $navbarHt;
  margin: 0 auto;
  border-bottom: 1px solid $borderGray;
  .navbar-inner {
    background-color: $navBg;
    background-image: none;
    border: none;
    height: 100%;
    @include no_box_shadow;
  }
  .brand {
    position: absolute;
    left: 430px;
    @include border-box;
    padding: 0px;
    height: $navbarHt;
    margin-left: 0px;
    text-shadow: none;
    line-height: 0;
    font-size: 0;
    img {
      height: 100%;
      display: inline;
      vertical-align: middle;
    }
  }
  .navbar-centered {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    @include border_box;
  }
  ul.nav {
    height: 100%;
    > li > a {
      color: white;
    }
  }
  .dropdown.explore-dropdown {
    height: 100%;
    @include border_box;
  }
  .dropdown {
    cursor: pointer;
  }
  .dropdown-toggle {
    text-align: center;
    padding: 12px 10px 13px 10px;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 18px;
    color: $lightText;
    @include border_box;
    @include all-transitions(0.3s, ease-in-out);
    .inline {
      vertical-align: middle;
      text-shadow: none;
    }
    &:hover {
      color: $collectiblyBlue;
      @include all-transitions(0.3s, ease-in-out);
    }
  }
  .dropdown.open {
    .dropdown-toggle {
      background-color: $lightestText;
    }
  }
  .dropdown-menu {
    @include all-transitions(0.3s, ease-in-out);
    .header {
      margin: 10px 20px 5px;
      color: $lightText;
    }
    &.explore-dropdown-list {
      @include all-transitions(0.3s, ease-in-out);
      &:hover {
        @include all-transitions(0.3s, ease-in-out);
      }
    }
  }
}

ul.dropdown-menu {
  margin-top: 0px;
  @include no_box_shadow;
}


@media (max-width: 979px) {
  #collectibly-nav { position: fixed; }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding: 0; }
}
@media (max-width: 768px) {
  #collectibly-nav .brand { left: 300px; }
}
@media (max-width: 720px) {
  #collectibly-nav .brand { left: 260px; } 
}