<div id="main">
  <h1>Listing guides</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>

  <br>

  <%= link_to 'New Guide', new_guide_path %>
</div>